# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignores added by Josh
.sync/
Wish List.txt
PARTITION LIBRARY/UNISEX RANGE/UNI_13_Between Walls + Alcove Both Sides/UNI_13_Between Walls_Alcove both sides 5 Bay_SD.pyo
PARTITION LIBRARY/UNISEX RANGE/UNI_13_Between Walls + Alcove Both Sides/UNI_13_Between Walls_Alcove both sides 6 Bay_SD.pyo
PARTITION LIBRARY/UNISEX RANGE/UNI_13_Between Walls + Alcove Both Sides/UNI_13_Between Walls_Alcove both sides 7 Bay_SD.pyo
PARTITION LIBRARY/UNISEX RANGE/UNI_13_Between Walls + Alcove Both Sides/UNI_13_Between Walls_Alcove both sides 8 Bay_SD.pyo
PARTITION LIBRARY/UNISEX RANGE/UNI_13_Between Walls + Alcove With Return/UNI_13_Between Walls_Alcove with Return 2 Bay_SD.pyo
